<!-- <footer class="footer">
    <div class="container">
        <p class="text-muted text-center">All rights reserved. COMP229 - Midterm Test</p>
    </div>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>    
</body>
</html> -->
<br>
<br>
<br>

<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">Copyright <i class="fa fa-copyright" aria-hidden="true"></i> TechEra. All Rights Reserved.</p>
    </div>
</footer>